# All of these can either be set here or via runtime arguments
# If arguments are given, they'll override the respective values set here

# Can be left as is unless you want the status for a remote server
SERVER_HOST = "127.0.0.1"
SERVER_PORT = 25565

# Image and font to use
IMAGE_PATH = ""
REGULAR_FONT_PATH = ""

# Path to save the output image
TARGET_PATH = ""

# Use italic fonts in certain situations, optional
ITALIC_FONT_PATH = ""

# The offset between the edge of the image and the text
X_OFFSET = 64

# The size to use for fonts
FONT_SIZE = 64

# The height of the text field drawed onto the image
# If not set, the height will be the image's height divided by 6
FIELD_HEIGHT = None

# The opacity of the field
FIELD_OPACITY = 0.5

# The text to show if the server is online
ONLINE_TEXT = "Online"

# The text to show if the server is unreachable / offline
OFFLINE_TEXT = "Offline"
